*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0.08);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo h2{
    color: #0A66C2;
    font-size: 30px;
    font-weight: 700;
}

.nav-links{
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: .3s;
}

.nav-links a:hover{
    color: #0A66C2;
}

.login-btn{
    padding: 10px 24px;
    border: none;
    border-radius: 8px;
    background: #0A66C2;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.login-btn:hover{
    background: #084C99;
}

.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: #0A66C2;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .login-btn {
    display: none;
  }

  .nav-links {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
    padding: 25px 0;

    transform: translateY(-150%);
    transition: 0.3s ease;
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
  }

  .nav-links.active {
    transform: translateY(0);
  }
}