.seat-container {
    text-align:center;
}


.bus-layout {

    display:grid;
    grid-template-columns: repeat(4, 60px);
    gap:15px;
    justify-content:center;
    margin-top:30px;

}


.seat {

    height:50px;
    border:none;
    border-radius:8px;
    background:#073868;
    color:white;
    cursor:pointer;

}


.seat.booked {

    background:#999;
    cursor:not-allowed;

}


.seat.selected {

    background:#ffc107;

}