.search-card {
    width: 100%;
    max-width: 360px;
    background: white;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, .15);
}

.search-card h2 {
    color: #073868;
    margin-bottom: 20px;
}

.search-card input,
.search-card select {
    width: 100%;
    padding: 14px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 15px;
}

.search-card button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 8px;
    background: #073868;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.search-card button:hover {
    background: #084C99;
}